<!-- Navbar Start -->
<nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
    <a href="/index" class="navbar-brand d-flex d-lg-none me-4">
        <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
    </a>
    <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item">
            <span (click)="switchLanguage('vn')">VN</span> | <span (click)="switchLanguage('en')">EN</span>
        </div>
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <img class="rounded-circle me-lg-2" src="https://res.cloudinary.com/winemarket/image/upload/v1659403526/winemarket/user/{{user.image}}" alt="" style="width: 40px; height: 40px;">
                <span class="d-none d-lg-inline-flex">{{user.username}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                <a href="https://winemarketv2-shop.herokuapp.com/" class="dropdown-item">{{'btnSwitchPage' | translate}} </a>
                <a (click)="onLogout()" href="" class="dropdown-item">{{'btnLogout' | translate}}</a>
            </div>
        </div>
    </div>
</nav>
<!-- Navbar End -->