<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-4">
            <div class="bg-light rounded h-100 p-4">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">{{'lblUsername' | translate}}</label>
                        <input type="text" name="Name" class="form-control" value="{{username}}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">{{'lblTotal' | translate}}</label>
                        <input type="text" name="Name" class="form-control" value="{{cart.total}}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">{{'lblDateOrder' | translate}}</label>
                        <input type="text" name="Name" class="form-control" value="{{cart.dateOrder}}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">{{'lblStatus' | translate}}</label>
                        <input type="text" name="Name" class="form-control" value="{{cart.status}}" readonly>
                    </div>
                    <button *ngIf="cart.id != null && cart.status != 'Pending'" (click)="updateStatus(cart.id, 'Pending')" class="btn btn-primary ms-3"><i class="fas fa-box"></i></button> 
                    <button *ngIf="cart.id != null && cart.status != 'Delivering'" (click)="updateStatus(cart.id, 'Delivering')" class="btn btn-primary ms-3"><i class="fas fa-truck"></i></button> 
                    <button *ngIf="cart.id != null && cart.status != 'Fisnish'" (click)="updateStatus(cart.id, 'Fisnish')" class="btn btn-primary ms-3"><i class="fas fa-check"></i></button> 
                    <button *ngIf="cart.id != null" (click)="onDelete(cart.id)" class="btn btn-primary ms-3"><i class="fas fa-times"></i></button>
                </form>
            </div>
        </div>
        <div class="col-sm-6 col-xl-8">
            <div class="bg-light rounded h-100 p-4">
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table id="tableData" class="table table-hover">
                        <thead>
                            <tr class="text-dark">
                                <th scope="col">#</th>
                                <th scope="col">{{'lblNameProduct' | translate}}</th>
                                <th scope="col">{{'lblQuantity' | translate}}</th>
                                <th scope="col">{{'lblPrice' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of cartDList; index as i">
                                <td>{{i + 1}}</td>
                                <td>{{c.productName}}</td>
                                <td>{{c.quantity}}</td>
                                <td>{{c.productPrice}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <div class="row">
                    <form class="d-none d-md-flex " [formGroup]="filterForm" (ngSubmit)="onFilter()">
                        <select formControlName="Date" class="form-select ms-3" aria-label="Default select example">
                            <option disabled>--{{'lblSortDate' | translate}}--</option>
                            <option value="asc">{{'lblASC' | translate}}</option>
                            <option value="desc">{{'lblDESC' | translate}}</option>
                        </select>
                        <input class="form-control border-0 ms-3" type="text" formControlName="Username" placeholder="Search by Username">
                        <select formControlName="Status" class="form-select ms-3" aria-label="Default select example">
                            <option disabled>--{{'lblStatus' | translate}}--</option>
                            <option value="Pending">{{'lblPending' | translate}}</option>
                            <option value="Delivering">{{'lblDelivering' | translate}}</option>
                            <option value="Fisnish">{{'lblFisnish' | translate}}</option>
                        </select>
                        <button type="submit" class="btn btn-primary ms-3"><i class="fas fa-filter"></i></button>
                        <button (click)="clearFilterForm()" class="btn btn-primary ms-3"><i class="fas fa-times"></i></button>
                    </form>
                </div>
                <div class="table-wrapper-scroll-y my-custom-scrollbar p-4">
                    <table id="tableData" class="table table-hover">
                        <thead>
                            <tr class="text-dark">
                                <th scope="col">{{'lblDateOrder' | translate}}</th>
                                <th scope="col">{{'lblUsername' | translate}}</th>
                                <th scope="col">{{'lblTotal' | translate}}</th>
                                <th scope="col">{{'lblStatus' | translate}}</th>
                                <th scope="col">{{'lblAction' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of carts">
                                <td>{{c.date}}</td>
                                <td>{{c.username}}</td>
                                <td>{{c.total}}</td>
                                <td>{{c.status}}</td>
                                <td>
                                    <button *ngIf="c.id != null && c.status != 'Pending'" (click)="updateStatus(c.id, 'Pending')" class="btn btn-primary ms-3"><i class="fas fa-box"></i></button> 
                                    <button *ngIf="c.id != null && c.status != 'Delivering'" (click)="updateStatus(c.id, 'Delivering')" class="btn btn-primary ms-3"><i class="fas fa-truck"></i></button> 
                                    <button *ngIf="c.id != null && c.status != 'Fisnish'" (click)="updateStatus(c.id, 'Fisnish')" class="btn btn-primary ms-3"><i class="fas fa-check"></i></button> 
                                    <button (click)="onView(c.id)" class="btn btn-primary ms-3"><i class="fas fa-edit"></i></button> 
                                    <button (click)="onDelete(c.id)" class="btn btn-primary ms-3"><i class="fas fa-times"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>