<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">{{'titleProduct' | translate}}</h6>
                <form [formGroup]="productForm" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">{{'lblNameProduct' | translate}}</label>
                        <input type="text" formControlName="Name" class="form-control" value="{{prod.name}}">
                        <span style="color: red;"
                            *ngIf="productForm.controls['Name'].errors?.['required']">
                            {{'errNameProduct' | translate}}
                        </span>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">{{'lblImage' | translate}}</label> 
                        <input formControlName="Image" class="form-control" type="file" accept="image/*" id="formFile" id="attach" (change)="onFileSelected($event)">
                    </div>
                    <label for="exampleInputEmail1" class="form-label">{{'lblCategory' | translate}}</label>
                    <select formControlName="Category" class="form-select mb-3" aria-label="Default select example" (change)="loadBrandByCategory($any($event.target).value)">
                        <option value="" disabled>--{{'lblCategory' | translate}}--</option>
                        <option *ngFor="let category of categories" value="{{category.id}}"
                            [selected]="category.id == prod.categoryId">{{category.name}}</option>
                    </select>
                    <span style="color: red;"
                        *ngIf="productForm.controls['Category'].errors?.['required']">
                        {{'errCategory' | translate}}
                    </span><br>
                    <label for="exampleInputEmail1" class="form-label">{{'lblBrand' | translate}}</label>
                    <select formControlName="Brand" class="form-select mb-3" aria-label="Default select example">
                        <option value="">--{{'lblBrand' | translate}}--</option>
                        <option *ngFor="let brand of brands" value="{{brand.id}}" [selected]="brand.id == prod.brandId">
                            {{brand.name}}</option>
                    </select> 
                    <span style="color: red;"
                        *ngIf="productForm.controls['Brand'].errors?.['required']">
                        {{'errBrand' | translate}}
                    </span>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">{{'lblPrice' | translate}}</label>
                        <input type="number" formControlName="Price" class="form-control" value="{{prod.price}}">
                        <span style="color: red;"
                            *ngIf="productForm.controls['Price'].errors?.['required']">
                            {{'errPrice' | translate}}
                        </span>
                    </div>
                    <button *ngIf="prod.id != null" (click)="onUpdate(prod.id)" class="btn btn-primary m-2" [disabled]="this.productForm.invalid">{{'btnUpdate' | translate}}</button>
                    <button *ngIf="prod.id == null" (click)="onCreate()" class="btn btn-primary m-2" [disabled]="this.productForm.invalid">{{'btnAdd' | translate}}</button>
                    <button *ngIf="prod.id != null" (click)="onDelete(prod.id)" class="btn btn-primary m-2">{{'btnDelete' | translate}}</button>
                    <button *ngIf="prod.id != null" (click)="clearProductForm()" class="btn btn-primary m-2">{{'btnClear' | translate}}</button>
                </form>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4 align-items-center justify-content-center mx-0">
                <img class="rounded mx-auto d-block" alt="none" style="width: 70%;"
                    src="https://res.cloudinary.com/winemarket/image/upload/v1659403232/winemarket/product/{{prod.image}}">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-60 p-4">
                <div class="row">
                    <form class="d-none d-md-flex " [formGroup]="filterForm" (ngSubmit)="onFilter()">
                        <input value=" " class="form-control border-0" type="text" formControlName="name_like" placeholder="{{'lblNameProduct' | translate}}">
                        <select formControlName="sort" class="form-select ms-3" aria-label="Default select example">
                            <option disabled>--{{'lblSortBy' | translate}}--</option>
                            <option value="name">{{'lblNameProduct' | translate}}</option>
                            <option value="price">{{'lblPrice' | translate}}</option>
                        </select>
                        <select formControlName="order" class="form-select ms-3" aria-label="Default select example">
                            <option disabled>--{{'lblOrderBy' | translate}}--</option>
                            <option value="asc">{{'lblASC' | translate}}</option>
                            <option value="desc">{{'lblDESC' | translate}}</option>
                        </select>
                        <select formControlName="categoryId" class="form-select ms-3" aria-label="Default select example" (change)="loadBrandByCategory($any($event.target).value)">
                            <option disabled>--{{'lblCategory' | translate}}--</option>
                            <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
                        </select>
                        <select formControlName="brandId" class="form-select ms-3" aria-label="Default select example">
                            <option>--{{'lblBrand' | translate}}--</option>
                            <option *ngFor="let brand of brands" value="{{brand.id}}">{{brand.name}}</option>
                        </select>
                        <button type="submit" class="btn btn-primary ms-3"><i class="fas fa-filter"></i></button>
                        <button (click)="clearFilterForm()" class="btn btn-primary ms-3"><i class="fas fa-times"></i></button>
                    </form>
                </div>
                <div class="table-wrapper-scroll-y my-custom-scrollbar p-4" style="max-height: 350px;">
                    <table id="tableData" class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">{{'lblNameProduct' | translate}}</th>
                                <th scope="col">{{'lblBrand' | translate}}</th>
                                <th scope="col">{{'lblCategory' | translate}}</th>
                                <th scope="col">{{'lblPrice' | translate}}</th>
                                <th scope="col">{{'lblAction' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of products; index as i">
                                <td>{{i + 1}}</td>
                                <td>{{product.name}}</td>
                                <td>{{product.brand}}</td>
                                <td>{{product.category}}</td>
                                <td>${{product.price}}</td>
                                <td>
                                    <a (click)="onEdit(product.id)" class="btn btn-primary me-1"><i class="fas fa-edit"></i></a> 
                                    <a (click)="onDelete(product.id)" class="btn btn-primary me-1"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button (click)="showProductPrev(page)" type="button" class="btn btn-primary">{{'btnPrev' | translate}}</button>
                    <button (click)="showProductNext(page)" type="button" class="btn btn-primary">{{'btnNext' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>