<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="/index" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fas fa-wine-glass-alt"></i>  WINE-DASHMIN</h3>
        </a>
        <div class="navbar-nav w-100">
            <a href="/product" class="nav-item nav-link"><i class="fa fa-th me-2"></i>{{'titleProduct' | translate}}</a>
            <a href="/order" class="nav-item nav-link"><i class="fas fa-shopping-cart"></i> {{'titleOrder' | translate}}</a>
            <a href="/user" class="nav-item nav-link"><i class="fas fa-user-circle me-2"></i>{{'titleUser' | translate}}</a>
        </div>
    </nav>
</div>
<!-- Sidebar End -->